* {
  margin: 0;
  padding: 0;
}

.social-icons {
  text-align: center;
  width: 100%;
  padding: 20px;
}

.responsiveimage {
  width: 10%;
  height: auto;
  margin: 30px;
}
h1{
  color:rgb(255, 51, 0);
 font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
footer{
  background-color:rgb(255, 255, 255);
}
.nav-link{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;
}
.container-fluid{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.table{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: brown;
}